.actions {
  white-space: nowrap;
  md-icon {
    cursor: pointer;
  }
}

.sortable-column {
  cursor: pointer;
}

.priority {
  padding-left: 10px;
  white-space: nowrap;
  span {
    font-size: smaller;
    vertical-align: top;
    color: #aaa;
  }
}

table {
  width: 100%;
  thead {
    tr {
      th {
        text-align: left;
        padding-right: 10px;
      }
      td {
        padding-right: 10px;

        &.status {
          width: 100px;
          padding-left: 10px;
        }
      }
    }
  }
}

tr:nth-child(even) {background: rgb( 255, 255, 255);}
tr:nth-child(odd) {background: rgb( 250, 250, 250);}
