.actions {
  white-space: nowrap;
  md-icon {
    cursor: pointer;
  }
}

.sortable-column {
  cursor: pointer;
}

.priority {
  padding-left: 100px;
}

table {
  thead {
    tr {
      th {
        text-align: left;
        padding-right: 50px;
        &.priority {
          text-align: right;
        }
      }
      td {
        padding-right: 100px;

        &.status {
          width: 100px;
          padding-left: 50px;
        }
      }
    }
  }
}

