<md-card>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Имя задания</th>
      <th>Статус</th>
      <th class="priority" (click)="onSortPriorityChange()">
        Приоритет
        <span *ngIf="sorting.column === 'priority'">
          <md-icon *ngIf="sorting.direction">keyboard_arrow_down</md-icon>
          <md-icon *ngIf="!sorting.direction">keyboard_arrow_up</md-icon>
        </span>
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>

      <tr *ngFor="let todo of todosList$ | async">
        <td class="actions">
          <md-icon (click)="onDeleteTodo(todo)">close</md-icon>
          <md-icon (click)="onEditTodo(todo)">edit</md-icon>
        </td>
        <td>{{todo.title}}</td>
        <td class="status">
          <mdl-select [(ngModel)]="todo.status" (change)="changeStatus($event, todo)">
            <mdl-option *ngFor="let status of statuses" [value]="status.code">{{status.title}}</mdl-option>
          </mdl-select>
        </td>
        <td class="actions priority">
          <md-icon (click)="onMoveDown(todo)">arrow_downward</md-icon>
          <md-icon (click)="onMoveUp(todo)">arrow_upward</md-icon>
        </td>
        <td>
          {{todo.priority}}
        </td>
      </tr>

    </tbody>

  </table>

  <md-progress-bar mode="indeterminate" *ngIf="loading$ | async">
  </md-progress-bar>

</md-card>

<zkn-todos-edit-dialog #editTodoDialog></zkn-todos-edit-dialog>
