
<md-sidenav-container fullscreen>

  <md-sidenav #sidenav mode="{{sidenavConfig.mode}}" opened="{{sidenavConfig.opened}}" class="app-sidenav">

    <zkn-todos-sidenav></zkn-todos-sidenav>

  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Todos Example App

  </md-toolbar>

  <div class="app-content">

    <zkn-todos-list></zkn-todos-list>

  </div>

</md-sidenav-container>

