<mdl-dialog #editTaskMdlDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{width: '320px'},
              isModal:true,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400
            }"
>

  <h3 class="mdl-dialog__title">Добавить таск</h3>
  <div class="mdl-dialog__content">
    <mdl-textfield type="text" label="Имя таска" [(ngModel)]="taskname" floating-label autofocus></mdl-textfield>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="saveTask()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Сохранить</button>
    <button mdl-button (click)="cancel()" mdl-ripple>Отменить</button>
  </div>

</mdl-dialog>
