<mdl-dialog #editTaskMdlDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{width: '320px'},
              isModal:true,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400
            }"
>

  <h1 class="mdl-dialog__title" *ngIf="!todo.id">Добавить таск</h1>
  <h1 class="mdl-dialog__title" *ngIf="!!todo.id">Редактировать таск</h1>
  <div class="mdl-dialog__content">
    <mdl-textfield type="text" label="Имя таска" [(ngModel)]="todo.title" floating-label autofocus></mdl-textfield>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="saveTask()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Сохранить</button>
    <button mdl-button (click)="cancel()" mdl-ripple>Отменить</button>
  </div>

</mdl-dialog>
